.container-geral {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

.lista-consulta-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tabela-lista-consulta th,td {
    padding: 5px 10px;
    text-align: center;
}

.tabela-lista-consulta tr:hover {
    background-color: var(--bg-input);
}

.tabela-lista-consulta td button{
    padding: 2px 5px;
    border-radius: 3px;
}

.tabela-lista-consulta td button:hover{
    background-color: var(--bg-checked);
}

.consulta-detail-container {
    display: grid;
    grid-template-columns: 0.9fr 0.5fr;
    gap: 10px;
    padding: 2px;
}

.consulta-detail-form-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-height: 800px;
}

.consulta-detail-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow: auto;
    max-height: 600px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.consulta-detail-historico {
    margin-top: 35px;
    max-height: 600px;
    padding: 6px;
    border: 1px solid var(--border-color);
}

.consulta-detail-historico-title p {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 0px;
}

.consulta-detail-historico-content {
    max-height: 550px;
    padding: 0px;
    overflow: auto;
}

.questao-item {
    display: flex;
    flex-direction: column;
}