.tab_list_conteiner {
    border-bottom: 1px solid var(--border-color);
}

.tab_list {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    margin-right: 1px;
    padding: 6px;
    cursor: pointer;
}

.tab_list:hover {
    background-color: var(--bg-checked);
}

.tab_list_selected {
    background-color: var(--bg-checked);
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    margin-right: 1px;
    padding: 6px;
    cursor: pointer;
}

.tab_list:first-child,.tab_list_selected:first-child  {
    border-top-left-radius: 4px;
}

.tab_list:last-child, .tab_list_selected:last-child  {
    border-top-right-radius: 4px;
}

.content_list {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#responsavel_table {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    overflow: auto;
    width: 90vw;
}

#controller_table {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
}

#responsavel_table table {
    width: max-content;
    border: solid 1px var(--border-color);
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#responsavel_table th {
    border: solid 1px var(--border-color);
    padding: 6px;
    background-color: var(--bg-button-default);
    color:var(--txt-color);
}

#responsavel_table td, tr {
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#responsavel_table tr:hover {background-color: var(--bg-checked);}
#responsavel_table tr:nth-child(even):hover {background-color: var(--bg-checked);}
#responsavel_table tr:nth-child(even) {background-color: var(--bg-input);}

#pet_table {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    overflow: auto;
    width: 90vw;
}

#pet_table table {
    width: max-content;
    border: solid 1px var(--border-color);
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#pet_table th {
    border: solid 1px var(--border-color);
    padding: 6px;
    background-color: var(--bg-button-default);
    color:var(--txt-color);
}

#pet_table td, tr {
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pet_table tr:hover {background-color: var(--bg-checked);}
#pet_table tr:nth-child(even):hover {background-color: var(--bg-checked);}
#pet_table tr:nth-child(even) {background-color: var(--bg-input);}

.pagination {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 10px 20px 10px 10px;
    padding: 0;
}

.pagination a {
    cursor: default;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    color: var(--txt-color-secondary);
    margin-left: 10px;
}

.pagination li:not(.disabled) a:hover {
    background-color: var(--bg-button-default-hover);
    opacity: 0.6;
    cursor: pointer;
}
   
.pagination li a {
    font-weight: bold;
    font-size: 14px;
}
   
.pagination li.active a {
    color: var(--txt-color);
    background: var(--bg-checked);
}
   
.pagination li.disabled a {
    pointer-events: none;
    color: var(--txt-color-secondary);
    border: 1px solid var(--border-color);
}

.navbar {
    display: none;
    right: -560px; 
}

.navbarSticky {
    display: flex;
    background-color: var(--bg-input);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: solid 3px var(--border-color);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    position: fixed;
    height: 90vh;
    top: 45px;
    box-shadow: 5px 0px 20px var(--border-color);
    z-index: 3;
    overflow: auto;

    right: -1px;
    animation: moveLeft 0.3s ease-in-out;
}

@keyframes moveLeft {
    from {
        transform: translatex(500px);
    }
    to {
        transform: translatex(0px);
    }
}

#overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgb(255, 255, 255, 0.6);
    z-index: 1;
    animation: aparecer 0.3s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}