table {
    width: 100vw;
    margin-top: 10px;
    border: solid 1px #4e7a01;
    border-collapse: collapse;
}

th {
    border: solid 1px #4e7a01;
    padding: 6px;
    background-color: #68a400;
    color:#eeeeee;
}

td, tr {
    border-bottom: solid 1px #4e7a01;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

tr:hover {background-color: #d4d4c0;}
tr:nth-child(even):hover {background-color: #d4d4c0;}
tr:nth-child(even) {background-color: #e5ebcc;}