.dropdown-container {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}

.dropdown-label {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14pt;
    color: var(--text-color-default);
}

.dropdown-label:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--bg-button-default-hover);
}

.dropdown-select {
    display: none;
}

.dropdown-select-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: none;
    background-color: var(--bg-header);
    border-radius: 5px 5px 5px 5px;
    top: 55px;
    list-style-type: none;
    padding: 0px;
    animation: showMenu 0.15s ease-out;
    box-shadow: 0px 2px 10px var(--border-color);
}

.pointer-dropdown-select-active {
    height: 15px;
	width: 15px;
	background:var(--bg-header);
    top: -7px;
	transform: rotate(-135deg);
	border-radius: 0 0 4px 0;
	position: absolute;
	left: calc(0.5vw + 40px);
    z-index: -1;
}

.dropdown-select-active li {
    font-weight: bold;
    height: 100%;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.dropdown-select-active li:nth-child(2) {
    border-radius: 5px 5px 0px 0px;
}

.dropdown-select-active li:hover {
    background-color: var(--bg-checked);
}



.dropdown-select-active li:last-child {
    border-radius: 0px 0px 5px 5px;
}

@keyframes showMenu {
    from {
        transform-origin:top;
        transform: scaley(0);
    }
    to {
        transform-origin:top;
        transform: scaley(1);
    }
}

@media only screen and (max-width: 717px) {
    .dropdown-select-active {
       top: 450px;
    }
}