* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header, #nav {
    background: #589404;
    color: #eeeeee;
    display: flex;
}

#header {
    flex: 1 1 100vw;
    height: 40px;
    box-shadow: 0px 0px 5px #222222;
    z-index: 1;
}

#logo {
    display: flex;
    flex: 0 0 150px;
    background: #6fb311;
    color: #eeeeee;
    font-weight: bold;
    padding: 8px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border: none;
  }

#nome_empresa {
    display: flex;
    flex: 0 0 80px;
    color: #eeeeee;
    font-weight: bold;
    padding: 8px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border: none;
  }

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: none;
    color: #eeeeee;
}

#openMenu {
    margin: 10px;
}

#nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
}

#nav a {
    margin: 3px;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    #openMenu {
        margin-left: auto
    }

    #nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: rgba(100,100,100,0.9);
        margin: 0;
    }

    #nav a {
        font-size: 18pt;
    }
}

.dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 4px;
    border-radius: 5px;
    width: max-content;
    background-color: #cde7a7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* top:20px */
    /* animation: moveLeft 0.3s ease-in-out; */
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: moveDown 0.3s ease-in-out;
}

@keyframes moveDown {
    from {
        transform: translatey(10px);
        opacity: 0;
    }
    to {
        transform: translatey(0px);
        opacity: 1;
    }
}