:root {
    --bg: #eeeeee;
    --bg-header: #a8c990;
    --bg-input: #d9d9d9;
    --bg-button-default: #b4c6a7;
    --bg-button-default-hover: #c1c7bc;
    --bg-checked: #e4e9ce;
    --txt-color: #434641;
    --txt-color-secondary: #173800;
    --border-color:#1e390a;
}

[data-theme='dark'] {
    --bg: #1e1e1e;
    --bg-header: #0d1805;
    --bg-input: #312535;
    --bg-button-default: #300c40;
    --bg-button-default-hover: #481a68;
    --bg-checked: #5b340a;
    --txt-color: #d4f5bd;
    --txt-color-secondary: #efdebb;
    --border-color:#b3c5a7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}